.mr-1 {
    margin-right: $space;
}

.mr-2 {
    margin-right: 2 * $space;
}

.mb-4 {
    margin-bottom: 4 * $space;
}

.mb-5 {
    margin-bottom: 5 * $space;
}

.mb-8 {
    margin-bottom: 8 * $space;
}

.mb-20 {
    margin-bottom: 20 * $space;
}

.ml-2 {
    margin-left: 2 * $space;
}

.pt-12 {
    padding-top: 12 * $space;
}

.pt-20 {
    padding-top: 20 * $space;
}

.pr-2 {
    padding-right: 2 * $space;
    ;
}

.pr-4 {
    padding-right: 4 * $space;
    ;
}

.pb-20 {
    padding-bottom: 20 * $space;
}

.pb-12 {
    padding-bottom: 12 * $space;
    ;
}